<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}},"elements":{"link":{"color":{"text":"var:preset|color--nvx-primary"}}}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--40)">
	<!-- wp:woocommerce/product-template -->
	<div class="wp-block-woocommerce-product-template">
		<!-- wp:woocommerce/product-image /-->
		<!-- wp:woocommerce/product-title /-->
		<!-- wp:woocommerce/product-price /-->
		<!-- wp:woocommerce/product-add-to-cart /-->
		<!-- wp:woocommerce/product-short-description /-->
		<!-- wp:woocommerce/product-meta /-->
	</div>
	<!-- /wp:woocommerce/product-template -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
