[client]
port = 3307
socket = __LAMPDIR__/var/run/mysql/mysql.sock

[mysqld]
user = z
port = 3307
socket = __LAMPDIR__/var/run/mysql/mysql.sock
datadir = __LAMPDIR__/var/lib/mysql
tmpdir = __LAMPDIR__/tmp/mysql
pid-file = __LAMPDIR__/var/run/mysql/mysql.pid
log-error = __LAMPDIR__/var/log/mysql/error.log
skip-name-resolve
bind-address = 127.0.0.1
innodb_buffer_pool_size = 128M
max_connections = 50
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[mysqld_safe]
log-error = __LAMPDIR__/var/log/mysql/error.log
pid-file = __LAMPDIR__/var/run/mysql/mysql.pid
